
h1{text-transform:capitalize;}
#container{text-align: center;
background-color:#1abc9c;
padding:50px;
}
.input-div{display:inline-block;}

input{padding:20px 20px;
margin:10px;
font-size:30px;
font-weight:bold;
width:150px;
text-align:center;}

label{
    font-size:40px;
font-weight:bold;
}
h1{text-align:center;
font-size:50px;}

span{color:red;}




